/* constants */
$shadow-color: #8C8C8C;
$dark-blue: #00006F;
$light-gray: #D6D6D6;
$dark-gray: #8A8A8A;
$button-hover: #7479B3;
$west: #80AEBD;
$east: #BD8080;
$light-green: #ADE675;

body {
  margin: 0;
  font-family: Work Sans;
}

.row {
  margin-left: 0px;
  margin-right: 0px
}

.header {
  background: $dark-blue;
  color: white;
  box-shadow: 1px 1px 20px $shadow-color;
  height: 60px;
  width: 100%;
  top: 0;
  p { margin-top: 18px; }
  .header-title {
    float: left;
    margin-left: 30px;
  }
  .header-right {
    float: right;
    margin-right: 30px;
    cursor: pointer;
    &:hover {
      color: $button-hover;
    }
  }
}

.view-title {
  font-size: 30px;
}

input {
  border: none;
  border-bottom: 2px solid $dark-blue;
  font-size: 15px;
  &:focus {
    outline: none;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.draft-create-view {
  padding: 20px 70px;

  p {
    margin: 12px 0px 0px 0px;
  }

  .side-note {
    font-size: 11px;
  }

  input[type=number] {
    width: 35px;
  }

  input[type=text] {
    width: 500px;
  }
  
  .add-teams {
    margin-top: 10px;
    font-size: 14px;
    padding: 4px 30px;
    background: $dark-gray;
  }

  .create-draft-button {
    margin-top: 10px;
    display: block;
  }
}

button {
  font-family: Work Sans;
  border-radius: 0;
  border: none;
  background: $dark-blue;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background: $button-hover;
  }
}

.user-login-view {
  padding-top: 40px;
  .col-lg-6 {
    p, input, button {
      display: block;
    }
    p {
      font-size: 20px;
      text-align: center;
    }
    input, button {
      margin: 10px auto;
    }
  }
}

.draft-edit-view {
  .col-md-4 {
    height: 600px;
    max-height: 600px;
    overflow: scroll;
    border: 1px solid $dark-blue;
  }

  .admin-player-view, .admin-team-view, .admin-nomination-view {
    margin-top: 5px;
    border-top: 2px solid $dark-blue;
  }

  .col-md-6 {
    input, button {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}

.draft-bid {
  width: 65%;
  height: 150px;
  float: left;
  border: 1px solid $dark-blue;
  border-bottom: none;

  .spectator-bidding-section {
    .spectator-title {
      font-size: 50px;
    }
  }

  .admin-bidding-section, .spectator-bidding-section, .captain-bidding-section {
    padding-top: 20px;
    padding-left: 50px;
    float: left;
    font-size: 20px;

    .nomination-input {
      display: block;
      border: 2px solid $dark-blue;
      text-align: center;
    }

    .bid-input {
      width: 30px;
      text-align: center;
      margin-top: 20px;
    }

    .auto-bid {
      padding: 5px;
      font-size: 14px;
      background: $light-green;
      margin-left: 20px;
    }

    .admin-button-disclosure {
      font-size: 12px;
      margin-top: 4px;
      width: 300px;
    }
  }

  .nomination-details {
    padding-top: 5px;
    padding-left: 10px;
    border-left: 1px solid $dark-blue;
    height: 150px;
    width: 250px;
    float: right;
    background: $light-gray;
    color: black; 
    p {
      margin-bottom: 2px;
    }
    .bold {
      font-weight: 600;
      font-size: 18px;
      color: $dark-blue;
    }
    .smaller {
      font-size: 14px;
    }
  }

  .nomination-order {
    height: 150px;
    padding-left: 10px;
    width: 160px;
    border-left: 1px solid $dark-blue;
    float: right;
    font-size: 12px;

    p {
      margin-bottom: 4px;
    }

    .order-list {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 125px;
    }
  }
}

.draft-teams {
  width: 65%;
  float: left;
  border: 1px solid $dark-blue;
  border-bottom: 0px;
  
  .row {
    border-bottom: 1px solid $dark-blue;
  }

  .col-md-3 {
    font-size: 12px;
    padding-top: 10px;
    height: 140px;
    text-align: center;

    .team-title {
      background: black;
      color: white;
    }

    .roster-spots {
      .roster-spot {
        clear: both;
        background: white;
        height: 18px;
        border-bottom: 1px solid $light-gray;
        .player-name {
          float: left;
          padding-left: 4px;
        }
        .player-cost, .player-captain, .player-prelim {
          float: right;
          padding-right: 4px;
        }
        .player-captain {
          background: url("//b.thumbs.redditmedia.com/L2z3vrtLN5dlYeyJlvvhgx1CouGcymP5_IPF-1wNPnU.png") 100px 100px no-repeat;
          background-position: -64px -56px;
          width: 18px;
          height: 18px;
        }
        .player-prelim {
          background: url("//b.thumbs.redditmedia.com/L2z3vrtLN5dlYeyJlvvhgx1CouGcymP5_IPF-1wNPnU.png") 100px 100px no-repeat;
          background-position: 0 -40px;
          width: 12px;
          height: 16px;
          margin-right: 2px;
        }
      }
    }
  }
  
  .east-team {
    background: $east;
  }
  .west-team {
    background: $west;
  }
}

.draft-chat {
  float: right;
  width: 410px;
  .chat-top-section {
    background: $light-gray;
    color: white;
    height: 150px;
    .awaiting {
      font-size: 40px;
      color: $dark-blue;
      text-align: center;
      .timer {
        font-size: 20px;
      }
    }
    .chat-box {
      margin-top: 50px;
      input {
        margin-left: 40px;
        color: black;
        width: 75%;
      }
      button {
        padding: 4px;
        font-size: 12px;
      }
    }
  }
  .chat-stream {
    font-family: Helvetica;
    overflow-y: scroll;
    .chat-message {
      padding: 10px 5px;
    }
    .chat-nomination {
      background: #C0E0EB;
      color: #20718C;
    }
    .chat-win {
      background: green;
      color: white;
      font-weight: bold;
    }
    .chat-bid {
      background: #EAED93;
      color: #857B32;
    }
  }
}
